
node_modules/

# usally should remove this but keeping for the easier pull and test
# .env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.vscode/
.idea/

coverage/

dist/
